

.btn:link,
.btn:visited {
  /* in order for anchor tags to function well, add display:inline-block; cause they're inline elements */
  display: inline-block;

  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.9rem;
  padding: 1.6rem 3.2rem;

  /* add animation to the button */
  /* always put transition in original 'state' */
  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}
.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--out:link,
.btn--out:visited {
  background-color: #fff;
  color: #555;
}
.btn--out:hover,
.btn--out:active {
  background-color: #fdf2e9;

  /* border: 2px solid #fff; */
  /* nice trick to add border inside button (to avoid the problem when we use usual border property) */
  box-shadow: inset 0 0 0 3px #fff;
}

/* reusable class to add right margin to elements */
/* helper class:  */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

/* ************************************** */
/* header */
/* ************************************** */
.logo {
  height: 2.2rem;
}

/* ************************************** */
/* navigation */
/* ************************************** */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  /* transition should be in original 'state' which is link */
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #e67e22;
  color: #fff;
  border-radius: 0.9rem;
  padding: 1.2rem 2.4rem;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* ************************************** */
/* hero section */
/* ************************************** */

.header {
  background-color: #fdf2e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* to make the header sticky we should specify the height */
  height: 9.6rem;
  padding: 0 4.8rem;
}
.header img {
  height: 2.2rem;
  /* margin-right: auto; */
}

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.hero-img {
  width: 100%;
}
.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -0.8rem;
  border: 3px solid #fdf2e9;
}
.delivered-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
/* ************************************** */
/* how it works section */
/* ************************************** */

.section-how {
  padding: 9.6rem 0;
}
.step-number{
  font-size: 9.8rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description{
   font-size: 1.8rem;
   line-height: 1.8;
}
.step-img-box{
  position: relative;

  display: flex;
  /* flex-direction: column;
  align-items: center; */
  align-items: center;
  justify-content: center;
}

.step-img-box::before {
  content: "";
  display: block;
  width: 60%;
  /* height: 60%; */
  /* height won't work */
  /* 60% of parent's width */

  padding-bottom: 60%;
  background-color: #fdf2e9;
  border: #fdf2e9;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;  


}
.step-img {
  width: 35%;
}
