/*

--------- 01- TYPOGRAPHY

- font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- font weights:
default: 400

- line heights:
default: 1


--------- 02- COLORS
-primary: #e67e22
-tints: 
-shadows:  
-accents: 
-greys: #555



--------- 05- shadows

--------- 06 border-radius

--------- 07- whitespace
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 /64 / 80 / 96 / 128


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  /* font-size: 10px; */
  /* 10px divided by 16px = 0.625 = 62.5% */
  /* percentage of user's browser font-size setting */
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
.test {
  /* max-width: 1000px; */
  background-color: red;
  /* padding: 100px; */

  max-width: 50rem;
  padding: 4rem;
  font-size: 2rem;
  color: #fff;

}
.hero{
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero-img{
  width: 100%;
}